body{
  position: absolute;
  top: 0;
  bottom: 0;
  font-size: .12rem;
  width: 100%;
  display: flex;
  flex-direction: column;

}
header{
  width: 100%;
  img{
    width: 100%;
  }
}
section{
  width: 100%;
  margin-top: .2rem;
  ul{
    display: flex;
    padding: 0 .2rem;
    li{
      margin-left: auto;
      margin-right: auto;
      width: .8rem;
      height: .35rem;
      border-radius: .1rem;
      border: 1px solid deeppink;
      background: #5badab;
      text-align: center;
      line-height: .35rem;
      color: #f74d4d;
    }
  }
  .box{
    margin-top: .2rem;
    display: flex;
    padding: 0 .2rem;
    dl{
      flex: 1;
      margin-left: .2rem;
      dt{
        img{
          width: 100%;
        }
      }
    }
  }
}